div.blogPost
{
    margin: 10px;
    border: 1px solid #eee;
}
div.blogPost > span.title
{
    float: left;
    padding: 2px;
    text-align: left;
}
div.blogPost > span.posted
{
    float: right;
    text-align: right;
}
div.blogPost > span.body
{
    float: left;
    clear: both;
    text-align: left;
    text-indent: 10px;
}
